/c/Users/Hossein/Documents/Data Science Repository/Notebook/Python/Real Estate Example/Real Estate Intro - Solution.ipynb
/c/Users/Hossein/Documents/Data Science Repository/Notebook/Python/Real Estate Example/DataSelection - Solution.ipynb
/c/Users/Hossein/Documents/Data Science Repository/Notebook/Python/Real Estate Example/Validation - Solution.ipynb
