./Python/Real Estate Example/DataSelection - Solution.ipynb
./Python/Real Estate Example/.ipynb_checkpoints/Real Estate Intro - Solution.ipynb
./Python/Real Estate Example/.ipynb_checkpoints/Validation - Solution.ipynb